.book {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  max-height: 300px;
  max-width: 300px;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
}
.name {
  font-weight: bold;
}
.description {
  font-size: 14px;
  color: rgb(36, 35, 35);
}
.book span {
  /* font-style: italic; */
  font-weight: bolder;
}
