.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}
button {
  width: 150px;
  background-color: green;
  align-self: center;
  margin: 16px;
  font-weight: 600;
  color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
label {
  font-size: large;
  font-weight: 600;
}
